<h2 xmlns="http://www.w3.org/1999/html">Gallery</h2>
<hr/>
<form (submit)="showFormAdd($event)">
  <label>Password: <input type="password"/></label>
  <button class="button" type="submit">Open form</button>
</form>
<hr/>
<form *ngIf="showForm">
  <label>Image Title: <input type="password" class="title"/></label><br/>
  <label>Image URL: <input name="url"/></label><br/>
  <button class="addImage">Add image</button>
</form>
